<div id="content" class="about-background">
    <div class="container-fluid">
        <nav class="navbar navbar-collapse navbar-expand-lg blue-gradient" id="about-nav">
            <div class="navbar-header" id="landing-header">
                <a href="/landing">
                    <img src="/Images/taticon.png" id="tatlogo">
                </a>
                <a href="/landing">
                    <h2 class="navbar-brand">The Adaptive Traveler</h2>
                </a>
            </div>
            <!-- Collapse button -->
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>

            <div class="input-group collapse navbar-collapse" id="navbarSupportedContent">
                <form id="form-search" method="get" action="" role="form" class="form-inline">
                    <div class="form-group has-feedback">
                        <div class="input-group">
                            <input style="color: #e7e7e7 !important;" type="text" class="form-control form-inline" id="explore" placeholder="Explore"
                                id="search-text-input">
                            <span class="input-group-btn">
                                <button id="letsgo-about" class="btn btn-default waves-effect" type="button">Let's Go!
                                    <span>
                                        <i class="fa fa-paper-plane-o ml-1"></i>
                                    </span>
                                </button>
                            </span>
                            <button class="btn btn-default" id="pop-destinations-blue" type="button">Popular Destinations
                                <span>
                                    <i class="fa fa-map-pin fa-4x ml-3"></i>
                                </span>
                            </button>
                        </div>
                    </div>
                </form>
            </div>

            <ul class="navbar-nav navbar-right mr-auto" id="nav-links">
                <li>
                    <a id="contact-about" href="/contact">Contact | </a>
                </li>
                <li>
                    <a id="contact-about" class="ml-2" href="/about"> About</a>
                </li>
            </ul>
        </nav>
    </div>
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-1 col-sm-2 col-md-3 col-lg-2 col-xl-2">
                <div class="dropdown">
                    <button class="btn btn-default btn-lg dropdown-toggle" type="button" id="side-dropdowns-blue" data-toggle="dropdown">The "Good Good"

                    </button>
                    <ul class="dropdown-menu" role="menu" aria-labelledby="menu1">
                        <li role="presentation">
                            <a role="menuitem" tabindex="-1" href="#">Maps</a>
                        </li>
                        <li role="presentation">
                            <a role="menuitem" tabindex="-1" href="#">Hotels</a>
                        </li>
                        <li role="presentation">
                            <a role="menuitem" tabindex="-1" href="#">Which Direction?</a>
                        </li>
                        <li role="presentation">
                            <a role="menuitem" tabindex="-1" href="#">Cool Spots</a>
                        </li>
                        <li role="presentation">
                            <a role="menuitem" tabindex="-1" href="#">Photo Locations</a>
                        </li>
                        <li role="presentation">
                            <a role="menuitem" tabindex="-1" href="#">Videos</a>
                        </li>
                    </ul>
                </div>
                <div class="dropdown">
                    <button type="button" class="btn btn-default btn-lg dropdown-toggle" id="side-dropdowns-blue" data-toggle="dropdown">Caché

                    </button>
                    <ul class="dropdown-menu" role="menu" aria-labelledby="menu2">
                        <li role="presentation">
                            <a role="menuitem" tabindex="-1" href="#">Off-The-Beaten-Path</a>
                        </li>
                        <li role="presentation">
                            <a role="menuitem" tabindex="-1" href="#">Hidden Stuff</a>
                        </li>
                    </ul>
                </div>
                <div class="dropdown">
                    <button type="button" class="btn btn-default btn-lg dropdown-toggle" id="side-dropdowns-blue" data-toggle="dropdown">Do What?

                    </button>
                    <ul class="dropdown-menu" role="menu" aria-labelledby="menu3">
                        <li role="presentation">
                            <a role="menuitem" tabindex="-1" href="#">Family</a>
                        </li>
                        <li role="presentation">
                            <a role="menuitem" tabindex="-1" href="#">Friends</a>
                        </li>
                        <li role="presentation">
                            <a role="menuitem" tabindex="-1" href="#">Couples</a>
                        </li>
                        <li role="presentation">
                            <a role="menuitem" tabindex="-1" href="#">Célibataire</a>
                        </li>
                        <li role="presentation">
                            <a role="menuitem" tabindex="-1" href="#">Group</a>
                        </li>
                    </ul>
                </div>
                <div class="dropdown">
                    <button type="button" class="btn btn-default btn-lg dropdown-toggle" id="side-dropdowns-blue" data-toggle="dropdown">Grub

                    </button>
                    <ul class="dropdown-menu" role="menu" aria-labelledby="menu4">
                        <li role="presentation">
                            <a role="menuitem" tabindex="-1" href="#">Quick Eats</a>
                        </li>
                        <li role="presentation">
                            <a role="menuitem" tabindex="-1" href="#">Romantic</a>
                        </li>
                        <li role="presentation">
                            <a role="menuitem" tabindex="-1" href="#">Family</a>
                        </li>
                        <li role="presentation">
                            <a role="menuitem" tabindex="-1" href="#">Brew Bites</a>
                        </li>
                        <li role="presentation">
                            <a role="menuitem" tabindex="-1" href="#">Snacks</a>
                        </li>
                        <li role="presentation">
                            <a role="menuitem" tabindex="-1" href="#">Healthy</a>
                        </li>
                        <li role="presentation">
                            <a role="menuitem" tabindex="-1" href="#">Vegan</a>
                        </li>
                    </ul>
                </div>
                <div class="dropdown">
                    <button type="button" class="btn btn-default btn-lg dropdown-toggle" id="side-dropdowns-blue" data-toggle="dropdown">Cultural

                    </button>
                    <ul class="dropdown-menu" role="menu" aria-labelledby="menu5">
                        <li role="presentation">
                            <a role="menuitem" tabindex="-1" href="#">Language Phrases</a>
                        </li>
                        <li role="presentation">
                            <a role="menuitem" tabindex="-1" href="#">Customs & Practices</a>
                        </li>
                        <li role="presentation">
                            <a role="menuitem" tabindex="-1" href="#">History</a>
                        </li>
                        <li role="presentation">
                            <a role="menuitem" tabindex="-1" href="#">Art</a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-xs-8 col-xs-offset-2 col-sm-8 col-sm-offset-2 col-md-8 col-md-offset-2 col-lg-8 col-lg-offset-1 col-xl-8 col-xl-offset-2">
                <div class="panel panel-default" id="about-panel">
                    <div class="panel panel-header text-center" id="about-header">
                        About
                    </div>
                    <div class="panel panel-body" id="about-body">
                        <p id="about-us">
                            The Adaptive Traveler is a website conceived in traveling and the understanding that all cultures are equal but different.
                        It is our belief that knowledge is power, education fosters acceptance of our many differences, and that despite our differences
                        across the world we can resist hatred and cultural divisions through a better understanding of one another's way of life.  We have
                        found that through travel and cultural immersion one can better identify and understand why other cultures function in the way they do.
                        This website aims to compile information regarding the many facets and barriers of traveling to a foreign destination so that one may not
                        only immerse themselves better as a tourist or visitor, but also have a richer and more enjoyable experience while abroad.
                        </p> 
                        <br />
                        <p id="twain">
                            "Travel is fatal to prejudice, bigotry, and narrow-mindedness, and many of our people need it sorely on these accounts.
                            Broad, wholesome, charitable views of men and things cannot be acquired by vegetating in one little corner of the earth all one's lifetime."
                            <br />
                            - Mark Twain
                        </p>
                    </div>
                </div>
            </div>
</div>
            <footer id="about-footer" class="footer">
                © 2017 The Adaptive Traveler
            </footer>
