<div id="content" class="landing-background">
    <div class="container-fluid">
        <nav class="navbar navbar-collapse navbar-expand-lg peach-gradient" id="landing-nav">
            <div class="navbar-header" id="landing-header">
                <a href="/landing">
                    <img src="/Images/taticon.png" id="tatlogo">
                </a>
                <a href="/landing">
                    <h2 class="navbar-brand">The Adaptive Traveler</h2>
                </a>
            </div>
            <!-- Collapse button -->
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>

            <div class="input-group collapse navbar-collapse" id="navbarSupportedContent">
                <form id="form-search" method="get" action="" role="form" class="form-inline">
                    <div class="form-group has-feedback">
                        <div class="input-group">
                            <input style="color: #e7e7e7 !important;" type="text" class="form-control form-inline" id="explore" placeholder="Explore"
                                id="search-text-input">
                            <span class="input-group-btn">
                                <button id="letsgo" class="btn btn-default waves-effect" type="button">Let's Go!
                                    <span>
                                        <i class="fa fa-paper-plane-o ml-1"></i>
                                    </span>
                                </button>
                            </span>
                            <button class="btn btn-default" id="pop-destinations" type="button">Popular Destinations
                                <span>
                                    <i class="fa fa-map-pin fa-4x ml-3"></i>
                                </span>
                            </button>
                        </div>
                    </div>
                </form>
            </div>

            <ul class="navbar-nav navbar-right mr-auto" id="nav-links">
                <li>
                    <a id="contact-about" href="/contact">Contact | </a>
                </li>
                <li>
                    <a id="contact-about" class="ml-2" href="/about"> About</a>
                </li>
            </ul>
        </nav>
    </div>
    <div class="container-fluid" id="content">
        <div class="row">
            <div class="col-xs-1 col-sm-3 col-md-3 col-lg-3 col-xl-2">
                <div class="dropdown">
                    <button class="btn btn-default btn-lg dropdown-toggle" type="button" id="side-dropdowns" data-toggle="dropdown">The "Good Good"

                    </button>
                    <ul class="dropdown-menu" role="menu" aria-labelledby="menu1">
                        <li role="presentation">
                            <a role="menuitem" tabindex="-1" href="#">Maps</a>
                        </li>
                        <li role="presentation">
                            <a role="menuitem" tabindex="-1" href="#">Hotels</a>
                        </li>
                        <li role="presentation">
                            <a role="menuitem" tabindex="-1" href="#">Which Direction?</a>
                        </li>
                        <li role="presentation">
                            <a role="menuitem" tabindex="-1" href="#">Cool Spots</a>
                        </li>
                        <li role="presentation">
                            <a role="menuitem" tabindex="-1" href="#">Photo Locations</a>
                        </li>
                        <li role="presentation">
                            <a role="menuitem" tabindex="-1" href="#">Videos</a>
                        </li>
                    </ul>
                </div>
                <div class="dropdown">
                    <button type="button" class="btn btn-default btn-lg dropdown-toggle" id="side-dropdowns" data-toggle="dropdown">Caché

                    </button>
                    <ul class="dropdown-menu" role="menu" aria-labelledby="menu2">
                        <li role="presentation">
                            <a role="menuitem" tabindex="-1" href="#">Off-The-Beaten-Path</a>
                        </li>
                        <li role="presentation">
                            <a role="menuitem" tabindex="-1" href="#">Hidden Stuff</a>
                        </li>
                    </ul>
                </div>
                <div class="dropdown">
                    <button type="button" class="btn btn-default btn-lg dropdown-toggle" id="side-dropdowns" data-toggle="dropdown">Do What?

                    </button>
                    <ul class="dropdown-menu" role="menu" aria-labelledby="menu3">
                        <li role="presentation">
                            <a role="menuitem" tabindex="-1" href="#">Family</a>
                        </li>
                        <li role="presentation">
                            <a role="menuitem" tabindex="-1" href="#">Friends</a>
                        </li>
                        <li role="presentation">
                            <a role="menuitem" tabindex="-1" href="#">Couples</a>
                        </li>
                        <li role="presentation">
                            <a role="menuitem" tabindex="-1" href="#">Célibataire</a>
                        </li>
                        <li role="presentation">
                            <a role="menuitem" tabindex="-1" href="#">Group</a>
                        </li>
                    </ul>
                </div>
                <div class="dropdown">
                    <button type="button" class="btn btn-default btn-lg dropdown-toggle" id="side-dropdowns" data-toggle="dropdown">Grub

                    </button>
                    <ul class="dropdown-menu" role="menu" aria-labelledby="menu4">
                        <li role="presentation">
                            <a role="menuitem" tabindex="-1" href="#">Quick Eats</a>
                        </li>
                        <li role="presentation">
                            <a role="menuitem" tabindex="-1" href="#">Romantic</a>
                        </li>
                        <li role="presentation">
                            <a role="menuitem" tabindex="-1" href="#">Family</a>
                        </li>
                        <li role="presentation">
                            <a role="menuitem" tabindex="-1" href="#">Brew Bites</a>
                        </li>
                        <li role="presentation">
                            <a role="menuitem" tabindex="-1" href="#">Snacks</a>
                        </li>
                        <li role="presentation">
                            <a role="menuitem" tabindex="-1" href="#">Healthy</a>
                        </li>
                        <li role="presentation">
                            <a role="menuitem" tabindex="-1" href="#">Vegan</a>
                        </li>
                    </ul>
                </div>
                <div class="dropdown">
                    <button type="button" class="btn btn-default btn-lg dropdown-toggle" id="side-dropdowns" data-toggle="dropdown">Cultural

                    </button>
                    <ul class="dropdown-menu" role="menu" aria-labelledby="menu5">
                        <li role="presentation">
                            <a role="menuitem" tabindex="-1" href="#">Language Phrases</a>
                        </li>
                        <li role="presentation">
                            <a role="menuitem" tabindex="-1" href="#">Customs & Practices</a>
                        </li>
                        <li role="presentation">
                            <a role="menuitem" tabindex="-1" href="#">History</a>
                        </li>
                        <li role="presentation">
                            <a role="menuitem" tabindex="-1" href="#">Art</a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-xs-8 col-xs-offset-3 col-sm-6 col-sm-offset-2 col-md-5 col-md-offset-1 col-lg-3 col-lg-offset-1 col-xl-4 col-xl-offset-4"
                style="padding-left: 5px;">
                
                <!--Card-->
                    <div class="card card-cascade" id="card1">

                <!--Card image-->
                <a href="/popDestinations">
                    <div class="view gradient-card-header peach-gradient">
                        <h2 class="h2-responsive">Popular Destinations</h2>
                    </div></a>
                <!--/Card image-->

                <!--Card content-->
                    <div class="card-body text-center">
                    
                        <h4 class="card-text">The most popular destinations in the world with all the information you need to know for your trip
                        </h4>

                        <a href="/berlin">
                            <h4 id="small-berlin">Berlin</h4>
                            <img style="width: 125px; height: 125px;" class="img-responsive" id="berlin-corner" src="../Images/BerlinShellhausdoneOrange2.jpg">
                        </a>

                        <a href="/kyoto">
                            <h4 class="text-right" id="small-kyoto">Kyoto</h4>
                            <img style="width: 125px; height: 125px; float: right;" class="img-responsive" id="kyoto-corner" src="../Images/Kyoto-shiShrineRV.jpg">
                        </a>

                        <a href="/hangzhou">
                            <h4 class="text-left" id="small-hangzhou">Hangzhou</h4>
                            <img style="width: 125px; height: 125px; float: left;" class="img-responsive" id="hangzhou-corner" src="../Images/CNWestLakeBoat.jpg">
                        </a>

                        <a href="/paris">
                            <h4 class="text-right" id="small-paris">Paris</h4>
                            <img style="width: 125px; height: 125px; float: right;" class="img-responsive" id="paris-corner" src="../Images/ParisOpéra.jpg">
                        </a>
                    </div>
                <!--/.Card content-->

                    </div>
                <!--/.Card-->
                </div>
                <div class="col-xs-10 col-sm-6 col-md-4 col-lg-3 col-xl-4">
                <button onclick="document.getElementById('login-window').style.display='block'" class="btn btn-default" id="yourTravels"
                    type="button">Your Travels
                    <span>
                        <i class="fa fa-plane fa-4x ml-3"></i>
                    </span>
                </button>
                

                <!-- The Modal -->
                <div id="login-window" class="modal">
                    

                    <!-- Modal Content -->
                    <form class="modal-content animate" id="login-form-window">
                            <span onclick="document.getElementById('login-window').style.display='none'" class="close" title="Close Modal">&times;</span>
                        
                        <div class="imgcontainer">
                            <img src="Images/default-avatar.png" alt="Avatar" class="avatar img-responsive center-block" id="login-avatar">
                        </div>

                        <div class="container-fluid" id="window">
                            <label id="handle-label">
                                <b>Handle</b>
                            </label>
                            <br />
                            <input id="login-handle" type="text" placeholder="Enter Your Email" name="email" required>

                            <label id="password-label">
                                <b>Password</b>
                            </label>
                            <br />
                            <input id="login-password" type="password" placeholder="Enter Password" name="password" required>
                            <br />
                            <button class="btn btn-default" id="send-button" type="submit">Login</button>
                            <br />
                            {{!-- <div id="checkbox">
                                <input type="checkbox" checked="checked"> Remember Me
                            </div> --}}
                        </div>

                        <div class="container-fluid text-center" style="background-color:#f1f1f1">
                            <button type="button" onclick="document.getElementById('login-window').style.display='none'" class="btn btn-default cancelbtn"
                                id="send-button">Cancel</button>
                            <span class="psw">
                                <a href="#">Forgot Password?</a>
                            </span>
                        </div>
                    </form>
                </div>

                <!-- The button to open to open the modal -->
                <button onclick="document.getElementById('create-window').style.display='block'" class="btn btn-default" id="create-profile"
                    type="button">Create A Profile
                    <span>
                        <i class="fa fa-user-circle fa-4x ml-3"></i>
                    </span>
                </button>
                <!-- The Modal -->
                <div id="create-window" class="modal">
                    

                    <!-- Modal Content -->
                    <form class="modal-content-login animate" role="form" id="create-form-window">
                        
                        <div class="container-fluid" id="window2">
                            <span onclick="document.getElementById('create-window').style.display='none'" id="closeIt" title="Close Modal">&times;</span>
                            <div class="md-form">
                                <i class="fa fa-id-card prefix grey-text"></i>
                                <input type="text" class="form-control" id="first-name" placeholder="     First Name" required>
                                <label for="first-name">

                                </label>
                            </div>

                            <div class="md-form">
                                <i class="fa fa-id-card prefix grey-text"></i>
                                <input type="text" class="form-control" id="last-name" placeholder="     Last Name" required>
                                <label for="last-name">

                                </label>
                            </div>

                            <div class="md-form">
                                <i class="fa fa-envelope prefix grey-text"></i>
                                <input type="email" class="form-control" id="create-email" placeholder="     Email Address" required>
                                <label for="create-email">

                                </label>
                            </div>

                            <div class="md-form">
                                <i class="fa fa-map-marker prefix grey-text"></i>
                                <input type="text" class="form-control" id="create-location" placeholder="     Enter Your Location" required>
                                <label for="create-location">

                                </label>
                            </div>

                            <div class="md-form">
                                <i class="fa fa-user prefix grey-text"></i>
                                <input type="text" class="form-control" id="create-handle" placeholder="      Enter A Handle" required>
                                <label for="create-handle">

                                </label>
                            </div>

                            <div class="md-form">
                                <i class="fa fa-qrcode prefix grey-text"></i>
                                <input type="password" class="form-control" id="create-password1" placeholder="     Please Enter A Password" required>
                                <label for="create-password1">

                                </label>
                            </div>

                            <div class="md-form">
                                <i class="fa fa-thumbs-o-up prefix grey-text"></i>
                                <input type="password" class="form-control" id="confirm-password2" placeholder="     Please Confirm Your Password" required>
                                <label for="confirm-password2">

                                </label>
                            </div>

                            <button class="btn btn-default" id="send-button" type="submit">Submit</button>
                    </form>
                    </div>
                </div>
            </div>
        </div>
        <footer class="footer">
            © 2017 The Adaptive Traveler
        </footer>