<div id="content" class="paris-background">
    <div class="container-fluid">
        <nav class="navbar collapse navbar-collapse navbar-expand-lg aqua-gradient" id="berlin-nav">
            <div class="navbar-header" id="landing-header">
                <a href="/landing">
                    <img src="/Images/taticon.png" id="tatlogo">
                </a>
                <a href="/landing">
                    <h2 class="navbar-brand">The Adaptive Traveler</h2>
                </a>
            </div>
            <div class="input-group">
                <form id="form-search" method="get" action="" role="form" class="form-inline">
                    <div class="form-group has-feedback">
                        <div class="input-group">
                            <input style="color: #e7e7e7 !important;" type="text" class="form-control form-inline" id="explore" placeholder="Explore"
                                id="search-text-input">
                            <span class="input-group-btn">
                                <button id="letsgo-berlin" class="btn btn-default" type="button">Let's Go!
                                    <span>
                                        <i class="fa fa-paper-plane-o ml-1"></i>
                                    </span>
                                </button>
                            </span>
                            <button class="btn btn-default" id="pop-destinations-aqua" type="button">Popular Destinations
                                <span>
                                    <i class="fa fa-map-pin fa-4x ml-3"></i>
                                </span>
                            </button>
                        </div>
                    </div>
                </form>
            </div>
            <ul class="navbar-nav navbar-right mr-auto" id="nav-links">
                <li>
                    <a id="contact-about" href="/contact">Contact |</a>
                </li>
                <li>
                    <a id="contact-about" class="ml-2" href="/about">About</a>
                </li>
            </ul>
        </nav>
    </div>
    <div class="container-fluid" id="content">
    <div class="row">
        <div class="col-xs-1 col-sm-2 col-md-3 col-lg-2 col-xl-2">
                <div class="dropdown">
                    <button class="btn btn-default btn-lg dropdown-toggle" type="button" id="side-dropdowns-aqua" data-toggle="dropdown">The "Good Good"

                    </button>
                    <ul class="dropdown-menu" role="menu" aria-labelledby="menu1">
                        <li role="presentation">
                            <a role="menuitem" tabindex="-1" href="#">Maps</a>
                        </li>
                        <li role="presentation">
                            <a role="menuitem" tabindex="-1" href="#">Hotels</a>
                        </li>
                        <li role="presentation">
                            <a role="menuitem" tabindex="-1" href="#">Which Direction?</a>
                        </li>
                        <li role="presentation">
                            <a role="menuitem" tabindex="-1" href="#">Cool Spots</a>
                        </li>
                        <li role="presentation">
                            <a role="menuitem" tabindex="-1" href="#">Photo Locations</a>
                        </li>
                        <li role="presentation">
                            <a role="menuitem" tabindex="-1" href="#">Videos</a>
                        </li>
                    </ul>
                </div>
                <div class="dropdown">
                    <button type="button" class="btn btn-default btn-lg dropdown-toggle" id="side-dropdowns-aqua" data-toggle="dropdown">Caché

                    </button>
                    <ul class="dropdown-menu" role="menu" aria-labelledby="menu2">
                        <li role="presentation">
                            <a role="menuitem" tabindex="-1" href="#">Off-The-Beaten-Path</a>
                        </li>
                        <li role="presentation">
                            <a role="menuitem" tabindex="-1" href="#">Hidden Stuff</a>
                        </li>
                    </ul>
                </div>
                <div class="dropdown">
                    <button type="button" class="btn btn-default btn-lg dropdown-toggle" id="side-dropdowns-aqua" data-toggle="dropdown">Do What?

                    </button>
                    <ul class="dropdown-menu" role="menu" aria-labelledby="menu3">
                        <li role="presentation">
                            <a role="menuitem" tabindex="-1" href="#">Family</a>
                        </li>
                        <li role="presentation">
                            <a role="menuitem" tabindex="-1" href="#">Friends</a>
                        </li>
                        <li role="presentation">
                            <a role="menuitem" tabindex="-1" href="#">Couples</a>
                        </li>
                        <li role="presentation">
                            <a role="menuitem" tabindex="-1" href="#">Célibataire</a>
                        </li>
                        <li role="presentation">
                            <a role="menuitem" tabindex="-1" href="#">Group</a>
                        </li>
                    </ul>
                </div>
                <div class="dropdown">
                    <button type="button" class="btn btn-default btn-lg dropdown-toggle" id="side-dropdowns-aqua" data-toggle="dropdown">Grub

                    </button>
                    <ul class="dropdown-menu" role="menu" aria-labelledby="menu4">
                        <li role="presentation">
                            <a role="menuitem" tabindex="-1" href="#">Quick Eats</a>
                        </li>
                        <li role="presentation">
                            <a role="menuitem" tabindex="-1" href="#">Romantic</a>
                        </li>
                        <li role="presentation">
                            <a role="menuitem" tabindex="-1" href="#">Family</a>
                        </li>
                        <li role="presentation">
                            <a role="menuitem" tabindex="-1" href="#">Brew Bites</a>
                        </li>
                        <li role="presentation">
                            <a role="menuitem" tabindex="-1" href="#">Snacks</a>
                        </li>
                        <li role="presentation">
                            <a role="menuitem" tabindex="-1" href="#">Healthy</a>
                        </li>
                        <li role="presentation">
                            <a role="menuitem" tabindex="-1" href="#">Vegan</a>
                        </li>
                    </ul>
                </div>
                <div class="dropdown">
                    <button type="button" class="btn btn-default btn-lg dropdown-toggle" id="side-dropdowns-aqua" data-toggle="dropdown">Cultural

                    </button>
                    <ul class="dropdown-menu" role="menu" aria-labelledby="menu5">
                        <li role="presentation">
                            <a role="menuitem" tabindex="-1" href="#">Language Phrases</a>
                        </li>
                        <li role="presentation">
                            <a role="menuitem" tabindex="-1" href="#">Customs & Practices</a>
                        </li>
                        <li role="presentation">
                            <a role="menuitem" tabindex="-1" href="#">History</a>
                        </li>
                        <li role="presentation">
                            <a role="menuitem" tabindex="-1" href="#">Art</a>
                        </li>
                    </ul>
                </div>
            </div>
        <div class="col-xs-6 col-xs-offset-1 col-sm-10 col-md-3 col-lg-4 col-xl-4">
            <div class="panel panel-default" id="cultural-tips-berlin">
                <div class="panel panel-header text-center" id="cultural-tips-header">
                    <h2 id="cultural-tip-title">Cultural Tips</h2>
                </div>
                <div class="panel panel-body" id="berlin-cult-tips-body">
                    <ol class="list-items" id="cultural-tip-items">
                        <h4>
                            <li>
                                Most Germans speak English so Germany is effectively one of the worst places to practice your spoken German.
                            </li>
                            <li>
                                Waiters & Waitresses tend to leave patrons alone while eating, thus placing one's silverware facing inward on one's plate
                                at a 1 or 2 O'Clock position denotes to a server that one is finished with their meal.
                            </li>
                            <li>
                                Germans commonly take their shoes off while in someone else's home or their own.
                            </li>
                            <li>
                                In Germany and several other countries in Europe public restrooms are somewhat of a rarity. Businesses will commonly require
                                you to purchase something in order to use the restrooms, but in most cases one must pay anywhere
                                from €,20-€2,00. A word to the wise, do your business before leaving home.
                            </li>
                            <li>
                                In Germany, and most of Europe for that fact, it is rude or unsettling to not say "hello" or "goodbye."
                            </li>
                            <li>
                                Using the word "Fräulein" is less common in modern times as it denotes a female that is unmarried, "Frau" is the standard
                                for the majority of women today.
                            </li>
                            <li>
                                The word for "blue" in German is "blau," which also means "drunk."
                            </li>
                            <li>
                                While technically illegal, drinking in public is "tolerated" if one does not get out of control, and in some cities seen
                                as "cool" just to be seen carrying a bottle of beer.
                            </li>
                            <li>
                                Privacy is a big issue in Germany, understand it and respect it.
                            </li>
                            <li>
                                DO NOT DO ANYTHING RELATED TO NAZIS...SALUTING, TAGGING, ETC...IT IS ILLEGAL IN GERMANY!
                            </li>
                        </h4>
                    </ol>
                </div>
            </div>
        </div>
        <div class="col-xs-6 col-xs-offset-1 col-sm-10 col-md-2 col-lg-5 col-xl-4" id="tips-column">
            <iframe width="400" height="250" frameborder="0" style="border:0" src="https://www.google.com/maps/embed/v1/place?key=AIzaSyBxK6M2zoywfAMSk8s_eoppVK7U4ApeRyI
                    &q=Paris+France" allowfullscreen>
            </iframe>
            <div class="panel panel-default" id="german-language">
                <div class="panel panel-header text-center" id="language-header">
                    <h2 id="language-tips-title">Language Tips</h2>
                </div>
                <div class="panel panel-body" id="language-body">
                    <ol class="list-items" id="lang-tip-items">
                        <li>
                            "Hallo" (hallow) - "Hello", one of the most common words used to greet someone (informal).
                        </li>
                        <li>
                            "Tschüß" (choo-ss) - "Goodbye", one of the most frequently used words for goodbye (informal).
                        </li>
                        <li>
                            "Bitte" (Bit-uh) - Has several meanings, the most common being "Please", "You're Welcome", & "Pardon?".
                        </li>
                        <li>
                            "Danke" (Donk-uh) - "Thanks", can be combined with "schön" (shun) to say "Thank you very much".
                        </li>
                        <li>
                            Wo (voh) - "Where" + ist = "Where is".
                        </li>
                        <li>
                            "Rechnung" (resh-nuhng) - "Check", useful when asking for the check at a restaurant.
                        </li>
                        <li>
                            "Entschuldigung" (ent-shul-dee-guhng) - "Pardon" or "Excuse Me" (This is the short version).
                        </li>
                    </ol>
                </div>
            </div>
        </div>
        {{!-- <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2 col-xl-2">
            <div class="panel panel-default" id="locationStats">
                <div class="panel panel-header text-center">
                    <h2 id="location-Stats-header">Location Statistics & Demographics</h2>
                </div>
            </div>
        </div> --}}
    </div>
</div>
    <footer class="footer" id="berlin-footer">
        © 2017 The Adaptive Traveler
    </footer>