<div id="content">
<div class="container-fluid">
        <nav class="navbar navbar-default">
            <div class="navbar-header" id="landing-header">
                <a href="/landing"><img src="/Images/taticon.png" id="tatlogo"></a>           
                <a href="/landing"><h2 class="navbar-brand">The Adaptive Traveler</h2></a> 
            </div>
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right" id="nav-links">
                    <li>
                        <a id="contact-about" href="/contact">Contact</a>
                    </li>
                    <li>
                        <a id="contact-about" href="/about">About</a>
                    </li>
                </ul>
            </div>
        </nav>
    </div>
    <div class="container-fluid">    
        <div class="row login-items">
        	<div class="col-xs-8 col-xs-offset-4 col-sm-6 col-sm-offset-4 col-md-6 col-md-offset-4 col-lg-6 col-lg-offset-4 col-xl-8 col-xl-offset-3" id="login-col">
				<div class="panel panel-default" id="login-panel">
					<div class="panel panel-body login-panel">
        				<form role="form" class="user-login">
        				<div class="form group">
        					<input type="text" class="form-control" id="username" placeholder="Username">
        					<input type="password" class="form-control" id="password" placeholder="Password">
        					<button id="login-button" type="button" class="btn btn-default">Login</button>
        				</div>
        				</form>
        			</div>
        		</div>
        	</div>
        </div>	
	</div>
</div>						


			<footer class="footer">
        	© 2017 The Adaptive Traveler
    		</footer>