<div id="content" class="landing-background">
<div class="container-fluid">
    <nav class="navbar navbar-default navbar-expand-lg peach-gradient">
        <div class="navbar-header" id="landing-header">
            <a href="/landing"><img src="/Images/taticon.png" id="tatlogo"></a>           
            <a href="/landing"><h2 class="navbar-brand">The Adaptive Traveler</h2></a> 
        </div>
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <div class="input-group">
                    <form id="form-search" method="get" action="" role="form" class="form-inline">
                        <div class="form-group has-feedback">
                            <div class="input-group">
                                <input style="color: #e7e7e7 !important;" type="text" class="form-control form-inline" id="explore" placeholder="Explore"
                                    id="search-text-input">
                                <span class="input-group-btn">
                                    <button id="letsgo" class="btn btn-default" type="button">Let's Go!
                                        <span>
                                            <i class="fa fa-paper-plane-o ml-1"></i>
                                        </span>
                                    </button>
                                </span>
                            </div>
                        </div>
                    </form>
                </div>
            <ul class="nav navbar-nav navbar-right" id="nav-links">
                <li>
                    <a id="contact-about" href="/contact">Contact</a>
                </li>
                <li>
                    <a id="contact-about" href="/about">About</a>
                </li>
            </ul>
        </div>
    </nav>
</div>
<div class="container-fluid">
    <div class="row">
        <div class="col-xs-8 col-xs-offset-3 col-sm-6 col-sm-offset-4 col-md-6 col-md-offset-4 col-lg-6 col-lg-offset-5 col-xl-8 col-xl-offset-4">
            <div class="panel panel-default" id="create-profile-panel">
                <div class="panel panel-header text-center" id="create-profile-header">
                    Create Your Profile
                </div>
                <div class="panel panel-body" id="profile-panel-body">
                    <form action="/profile/:id" role="form" class="create-user">
                        <div class="md-form">
                            <i class="fa fa-id-card prefix grey-text"></i>
                            <input type="text" class="form-control" id="name" placeholder="Name" required>
                            <label for="name">
                               
                            </label>
                        </div>
                        <div class="md-form">
                            <i class="fa fa-envelope prefix grey-text"></i>
                            <input type="email" class="form-control" id="email" placeholder="Email Address" required>
                            <label for="email">
                                
                            </label>
                        </div>
                        <div class="md-form">
                            <i class="fa fa-map-marker prefix grey-text"></i>
                            <input type="text" class="form-control" id="location" placeholder="Enter Your Location" required>
                            <label for="location">
                                
                            </label>
                        </div>
                        <div class="md-form">
                            <i class="fa fa-user prefix grey-text"></i>
                            <input type="text" class="form-control" id="handle" placeholder="Enter A Handle" required>
                            <label for="handle">
                                
                            </label>
                        </div>
                        <div class="md-form">
                            <i class="fa fa-qrcode prefix grey-text"></i>
                            <input type="password" class="form-control" id="password1" placeholder="Please Enter A Password" required>
                            <label for="password1">
                                
                            </label>
                        </div>
                        <div class="md-form">
                            <i class="fa fa-thumbs-o-up prefix grey-text"></i>
                            <input type="password" class="form-control" id="password2" placeholder="Please Confirm Your Password" required>
                            <label for="password2">
                                
                            </label>
                        </div>
                        <div class="md-form">
                            <i class="fa fa-photo suffix grey-text"></i>
                            <input type="file" name="profile-photo" id="profile-input" accept="image/*">
                            <label for="profile-photo">
                                
                            </label>
                        </div>
                        <div class="md-form">
                            <button type="button" class="btn btn-default" id="creating-profile">Submit
                                <span>
                                    <i class="fa fa-sun-o ml-1"></i>
                                </span>
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
<footer class="footer">
    © 2017 The Adaptive Traveler
</footer>